Django>=1.9,<1.10
djangorestframework
djangorestframework-filters
MySQL-python
django-suit==0.2.23
django-suit-redactor
django-suit-ckeditor
django-forms-bootstrap
django-favicon
Pillow
django-constance[database]
django-ckeditor
django-mptt
django-media-manager