{% extends 'lmnad/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
     <script src="{% static 'publications/publications.js' %}"></script>
     <div class="row">
            <h3 class="page-header"> {% trans "Publications" %} </h3>
     </div>

     <div class="row">
         <div class="text-center">
                 <form class="form-inline" action="/publications" method="get">
                     <div class="form-group">
                       <input type="text" class="form-control" id="query" placeholder="{% trans 'Enter query' %}" name="query">
                     </div>
                     <button type="submit" id="publication_search_bt" class="btn btn-primary">{% trans 'Search' %}</button>
                 </form>
             </div>
         <br>
     </div>

     <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> {% trans "Title" %} </th>
                    <th> {% trans "Source" %} </th>
                    <th> {% trans "Authors" %} </th>
                    <th> {% trans "doi" %} </th>
                    <th> {% trans "Year" %} </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for publication in publications %}
                <tr>
                    <td class="row">
                        {% if publication.link %}
                            <a href="{{ publication.link }}">{{ publication.title }}</a>
                        {% else %}
                            {{ publication.title }}
                        {% endif %}
                        <p>
                        РИНЦ -
                        {% if publication.is_rinc %}
                            <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
                        {% else %}
                            <img src="{% static 'admin/img/icon-no.svg' %}" alt="False">
                        {% endif %}
                        Web of Science -
                        {% if publication.is_wos %}
                            <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
                        {% else %}
                            <img src="{% static 'admin/img/icon-no.svg' %}" alt="False">
                        {% endif %}
                        SCOPUS -
                        {% if publication.is_scopus %}
                            <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
                        {% else %}
                            <img src="{% static 'admin/img/icon-no.svg' %}" alt="False">
                        {% endif %}
                        </p>
                    </td>
                    <td class="row">{{ publication.source }}</td>
                    <td>
                        {% for author in publication.authors.all %}
                            {% if author.user %}
                                 <a href="{{ author.user.get_absolute_url }}">{{ author }}</a>;
                            {% else %}
                                {{ author }};
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ publication.doi }}
                    </td>
                    <td>
                        <p> {{ publication.year }} </p>
                    </td>
                    <td>
                        {% if publication.is_can_download and publication.file %}
                            <a href="{{ publication.file.url }}"
                               class="btn btn-success"
                               style="width: 100px !important">
                                {% trans 'Download' %}
                            </a>
                        {% endif %}
                        <a onclick="return showAddAnotherPopup(this);"
                           href="/publications/cite/{{ publication.id }}"
                           class="btn btn-primary"
                           style="width: 100px !important"
                           target="_blank">
                            {% trans 'Cite' %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if publications.has_other_pages %}
              <ul class="pagination">
                {% if publications.has_previous %}
                  <li><a href="?page={{ publications.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in publications.paginator.page_range %}
                  {% if publications.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if publications.has_next %}
                  <li><a href="?page={{ articles.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
        {% endif %}
     </div>

{% endblock %}