{% extends 'lmnad/base.html' %}
{% load i18n %}
{% load filename %}

{% block content %}
    <h3 class="page-header">{% trans "Events" %}</h3>
    <div class="row">
        {% for event in events %}
        {% if event.full_text %}
            <h3><a href="{{ event.get_absolute_url }}"> {{ event.title }} </a></h3>
        {% else %}
            <h3>{{ event.title }}</h3>
        {% endif %}
        <p>
            {{ event.text | safe  }}
            {% if event.images.all %}
                {% for image in event.images.all %}
                    <a href="{{ image.file.url }}" rel="shadowbox[Mixed]">
                        <img border="0" alt="{{ image.file|getfilename }}" src="{{ image.file.url }}" width="100">
                    </a>
                {% endfor %}
            {% endif %}
            <br>
            <small><b>{{ event.date }}</b></small>
        </p>
        <hr>
        {% empty %}
            <p>{% trans "No events" %}</p>
        {% endfor %}

        {% if events.has_other_pages %}
              <ul class="pagination">
                {% if events.has_previous %}
                  <li><a href="?page={{ events.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in events.paginator.page_range %}
                  {% if events.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if events.has_next %}
                  <li><a href="?page={{ events.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
        {% endif %}
    </div>
{% endblock %}