{% extends 'lmnad/base.html' %}

{% block content %}
<h3 class="page-header">События</h3>
    {% for event in events|dictsortreversed:"date" %}
        <h3>{{ event.title }}</h3>
        <p>
            {{ event.text | safe  }}
            {% if event.full_text %}
                <br>
                <a href="{{ event.get_absolute_url }}"> Отчёт </a>
            {% endif %}
            <br>
            <small><b>{{ event.date }}</b></small>
        </p>
        <hr>
    {% empty %}
        <p>Нет ближайших событий</p>
    {% endfor %}
{% endblock %}