{% extends 'lmnad/base.html' %}

{% block content %}
<h3 class="page-header">События</h3>
    {% for event in events|dictsortreversed:"date" %}
        {% if event.full_text %}
            <h3><a href="{{ event.get_absolute_url }}"> {{ event.title }} </a></h3>
        {% else %}
            <h3>{{ event.title }}</h3>
        {% endif %}
        <p>
            {{ event.text | safe  }}
            <br>
            <small><b>{{ event.date }}</b></small>
        </p>
        <hr>
    {% empty %}
        <p>Нет ближайших событий</p>
    {% endfor %}
{% endblock %}