{% extends 'lmnad/base.html' %}
{% load i18n %}
{% load filename %}


{% block content %}
   
	<h3 class="page-header">{% trans "Journals" %}</h3>

	<div class="row">
		{% for journal in journals %}
			<h3>
				{{ journal.name }}
				{% if journal.short_name %}
					({{ journal.short_name }})
				{% endif %}
			</h3>
			{{ journal.description | safe }}
			<p>
				<b>Классификация:</b>
				{% if journal.conf_type == 'international' %}
					Международная
				{% elif journal.conf_type == 'national' %}
					Российская
				{% endif %}
			</p>
			<p>
				<b>Время проведения конференции:</b>
				{{ journal.date_start | date:"j b. Y, H:i" }} — {{ journal.date_stop | date:"j b. Y, H:i" }}
			</p>
			{% if journal.conf_link %}
				<p>
					<b>Страница конференции:</b>
					<a href="{{ journal.conf_link }}" target="_blank">{{ journal.conf_link }}</a>
				</p>
			{% endif %}
			{% if journal.files.all %}
				<p>
					<b>Приложенные документы:</b>
					<br>
					<ul>
						{% for document in journal.files.all %}
							{% if document.filename %}
								<li>
									<a href="{{ document.file.url }}">{{ document.filename }}</a>
								</li>
							{% else %}
								<li>
									<a href="{{ document.file.url }}">{{ document.file|getfilename }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</p>
			{% endif %}
			<hr>
		{% empty %}
			<p>{% trans "No journals" %}</p>
	    {% endfor %}



	    {% if journals.has_other_pages %}
              <ul class="pagination">
                {% if journals.has_previous %}
                  <li><a href="?page={{ journals.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in journals.paginator.page_range %}
                  {% if journals.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if journals.has_next %}
                  <li><a href="?page={{ journals.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
        {% endif %}
	</div>

{% endblock %}