{% extends 'lmnad/base.html' %}
{% load i18n %}

{% block content %}
    <h3 class="page-header">{% trans "Present" %}</h3>
  <table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>{% trans "Full Name" %}</th>
            <th>{% trans "Degree" %}, {% trans 'Academic rank' %}, {% trans 'Position' %} </th>
            <th>{% trans 'Science Index' %}</th>
            <th>{% trans "Experience" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for people in peoples|dictsort:"order_by" %}
        <tr>
            <th class="row">{{ forloop.counter }}</th>
            <td>
                {% if people.account %}
                    <a href="{{ people.account.get_absolute_url }}">{{ people.fullname }}</a>
                {% else %}
                    {{ people.fullname }}
                {% endif %}
            </td>
            <td>
                {% if people.degree %}
                    {{ people.degree }},
                {% endif %}
                {% if people.rank %}
                    {{ people.rank }},
                {% endif %}
                {% if people.position %}
                    {{ people.position }}
                {% endif %}
            </td>
            <td>
                {% if people.science_index %}
                    {{ people.science_index | safe  }}
                {% endif %}
            </td>
            <td>
                {% if people.date_start %}
                    С {{ people.date_start|date:"M. Y" }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

    {% if peoples_old %}
        <h3 class="page-header">{% trans "Past" %}</h3>
        <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Full Name" %}</th>
                <th>{% trans "Degree" %}, {% trans 'Academic rank' %}, {% trans 'Position' %} </th>
                <th>{% trans 'Science Index' %}</th>
                <th>{% trans "Experience" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for people in peoples_old|dictsort:"order_by" %}
            <tr>
                <td class="row">{{ forloop.counter }}</td>
                <td>
                    {% if people.account %}
                        <a href="{{ people.account.get_absolute_url }}">{{ people.fullname }}</a>
                    {% else %}
                        {{ people.fullname }}
                    {% endif %}
                </td>
                <td>
                    {% if people.degree %}
                        {{ people.degree }},
                    {% endif %}
                    {% if people.rank %}
                        {{ people.rank }},
                    {% endif %}
                    {% if people.position %}
                        {{ people.position }}
                    {% endif %}
                </td>
                <td>
                    {% if people.science_index %}
                        {{ people.science_index | safe  }}
                    {% endif %}
                </td>
                <td>
                    {% if people.date_start and people.date_end %}
                        {{ people.date_start|date:"M. Y" }} - {{ people.date_end|date:"M. Y" }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endblock %}