{% extends 'lmnad/base.html' %}

{% block content %}
    <h3 class="page-header">Текущий состав</h3>
  <table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Фамилия Имя Отчество</th>
            <th>Cтепень</th>
            <th>Учёное звание</th>
            <th>Должность</th>
        </tr>
    </thead>
    <tbody>
    {% for people in peoples %}
        <tr>
            <th class="row">{{ people.id }}</th>
            <td>
                {% if people.account %}
                    <a href="{{ people.account.get_absolute_url }}">{{ people.fullname }}</a>
                {% else %}
                    {{ people.fullname }}
                {% endif %}
            </td>
            <td>
                {% if people.degree %}
                    {{ people.degree }}
                {% endif %}
            </td>
            <td>
                {% if people.rank %}
                    {{ people.rank }}
                {% endif %}
            </td>
            <td>
                {% if people.position %}
                    {{ people.position }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}