{% extends 'lmnad/base.html' %}
{% load bootstrap_tags %}

{% block content %}
<h3 class="page-header">Персональная страница:</h3>

    {% if user.is_authenticated and user.id == profile.id %}
        <div>{{ profile.account.text | safe }}</div>
        {% if profile.account.cv_file %}
            <a href="{{ profile.account.cv_file }}">Скачать CV</a>
        {% endif %}
        <br>
        <a href="{% url 'edit_profile' %}">Редактировать</a>
    {% else %}
        <div>{{ profile.account.text | safe }}</div>
        {% if profile.account.cv_file %}
            <a href="{{ profile.account.cv_file }}">Скачать CV</a>
        {% endif %}
    {% endif %}

{% endblock %}