{% extends 'lmnad/base.html' %}
{% load i18n %}

{% block content %}
<h3 class="page-header"> {% trans "Protection of qualification works" %} </h3>
    {% for protection in protections|dictsortreversed:"date" %}
        <h4>{{ protection.author }}</h4>
        <h3>{{ protection.title }}</h3>
        <p>
            {{ protection.message | safe}}
            <br>
            <small><b>{{ protection.date }}</b></small>
        </p>
        <hr>
    {% empty %}
        <p>{% trans "No protection" %}</p>
    {% endfor %}
{% endblock %}