{% extends 'lmnad/base.html' %}

{% block content %}
<h3 class="page-header">Конференции, научные семинары, выставки</h3>
    {% for seminar in seminars|dictsortreversed:"date" %}
        {% if seminar.full_text %}
            <h3><a href="{{ seminar.get_absolute_url }}"> {{ seminar.title }} </a></h3>
        {% else %}
            <h3>{{ seminar.title }}</h3>
        {% endif %}
        <p>
            {{ seminar.text | safe }}
            <br>
            <small><b>{{ seminar.date }}</b></small>
        </p>
        <hr>
    {% empty %}
        <p>Нет ближайших семинаров</p>
    {% endfor %}
{% endblock %}