{% extends 'igwcoeffs/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <br>
        </div>
        <div class="row">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" id='load-file-tab'><a href="">{% trans "Load file" %}</a></li>
                <li role="presentation" class="disabled" id='parse-file-tab'><a href="">{% trans "Parse file" %}</a></li>
                <li role="presentation" class="disabled" id='start-tab'><a href="">{% trans "Start" %}</a></li>
                <li role="presentation" class="disabled" id='results-tab'><a href="">{% trans "Result" %}</a></li>
            </ul>
        </div>
        <br>
        <div class="row" id="load-file-row">
            <form class="form-horizontal" role="form">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="name-calculation">{% trans 'Name of calculation' %}</label>
                        <input id='name-calculation' type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="load-file-input">{% trans 'File' %}</label>
                        <input id='load-file-input' type="file" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="separator">{% trans 'Separator' %}</label>
                        <select class="form-control" id="separator">
                          <option value=" ">{% trans 'space' %}</option>
                          <option value="/">/</option>
                          <option value=",">,</option>
                          <option value=";">;</option>
                        </select>
                    </div>
                    <button id='submit-load-file' type="submit" class="btn btn-default">{% trans 'Load file' %}</button>
                </div>
            </form>
        </div>
        <div class="row" id="parse-file-row">
            <br>
            <div class="panel panel-default">
            <!-- Default panel contents -->
                <div class="panel-heading">{% trans 'Loaded data' %}</div>
                <!-- Table -->
                <table class="table">
                    <tbody id="loaded-data-table">
                    </tbody>
                </table>
                <div>
                    <h5 id="max_row">
                    </h5>
                </div>
                <div class="panel-body">
                    <p>{% trans 'Need mapping field:' %}</p>
                    <form class="form-horizontal" role="form">
                        <div class="col-sm-5">
                            <table class="table">
                                <tbody id="mapping-data-table">
                                </tbody>
                            </table>
                            <div class="form-group">
                                <label for="start-from">{% trans 'Start from' %}</label>
                                <select id='start-from' class="form-control">
                                    <option value="0">{% trans 'first row' %}</option>
                                    <option value="1">{% trans 'second row' %}</option>
                                </select>
                            </div>
                            <button id='submit-parse-file' type="submit" class="btn btn-default">{% trans 'Parse file' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" id="start-row">
            <br>
            <form class="form-horizontal" role="form">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="name-calculation">{% trans 'Email for result' %}</label>
                        <input id='email' type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="mode">{% trans 'Mode' %}</label>
                        <select class="form-control" id="mode">
                          <option value="1">{% trans 'First' %}</option>
                          <option value="2">{% trans 'Second' %}</option>
                        </select>
                    </div>
                    <button id='submit-start' type="submit" class="btn btn-default">{% trans 'Start calculation' %}</button>
                </div>
            </form>
        </div>
        <div class="row" id="result-row">
            <p id="in_process">Расчёт в процессе...</p>
            <p id="result-description">{% trans 'Your results here, also file with result send to email' %}</p>
        </div>
    </div>
{% endblock %}